body {
    margin: 0;
    padding: 0;
    background-image: url('https://source.unsplash.com/random/1920x1080/?geometry');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
}

.vignette-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6) 115%);
    pointer-events: none;
}

.exclude-vignette {
    position: relative;
    z-index: 1;

  }

.menu-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    padding: 10px;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.menu-icon.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

#greetingBar {
    z-index: 0;
}

#time {
    font-size: 10em;
    color: white;
    line-height: 0.8;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.settings {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.settings > svg {
    height: 3em;
    width: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#settingsIcon {
    transition: transform 0.5s;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#settingsIcon:hover {
    transform: rotate(90deg);
}

#greeting,
#username {
    font-size: 8em;
    color: white;
    line-height: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#username:focus {
    outline: none;
}

#username[contenteditable="true"] {
    text-decoration: underline;
}

.quote-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#quote {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Arial", sans-serif;
    position: absolute;
    bottom: 30px;
    left: 200px;
    /* Set the minimum distance from the left side of the screen */
    right: 200px;
    /* Set the minimum distance from the right side of the screen */
    text-align: center;
    /* Center align the quote */
    z-index: 1;
    transition: transform 0.2s ease;
}


#author {
    font-size: 1.25rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark grey with 50% transparency */
    display: none;
    /* Initially hidden */
    z-index: 1;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    /* White shadow */

}

#closePopupContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3em;
    height: 3em;
}

#popupContainer .popupContent {
    color: white;
    /* White text color */
    font-size: 10em;
    /* Larger font size */
    text-align: center;
    /* Center the text */
    margin: 10px;
    /* Add some space around the element */
}

#timeBar {
    position: relative;
    z-index: 0;
}

#noteIcon,
#pomodoroIcon,
#clockIcon {
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    color: white;
    line-height: 0.8;
    margin: 5px;
    position: relative;
    z-index: 0;
    transition: width 0.2s, height 0.2s;
}

.sticky {
    position: absolute;
    background-color: #ffcc00;
    width: 200px;
    height: 200px;
    resize: both;
    overflow: auto;
    /* border-top: 1em solid #c0c0c0; */
    /* Shadow */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    /* Slight rotation for authenticity */
    transform: rotate(-3deg);
    padding: .5em;
    font-size: 1.5em;
    animation: fadeAnimation 1s forwards;
    container-type: inline-size;
}

/* Font-sizing for text inside sticky */
.sticky > *:not(img):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 6.6cqw;
}

.sticky > h1 {
    font-size: 15.2cqw;
}

.sticky > h2 {
    font-size: 10.9cqw;
}

.sticky > h3 {
    font-size: 10.6cqw;
}

.sticky > h4 {
    font-size: 10.3cqw;
}

.sticky > h5 {
    font-size: 10.1cqw;
}

.sticky > h6 {
    font-size: 8.9cqw;
}

.stickyDel {
    animation: removeSticky 1s forwards;
}

.sticky img[data-is-pin="1"] {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 5%;
    left: 85%;
}

.sticky img[data-is-pin="1"]:hover {
    animation: unpinHover 0.5s ease forwards;
    content: url('../assets/unpin.png');
}

.sticky img[data-is-pin="1"]:not(:hover) {
    animation: pinHover 0.5s ease forwards;
    content: url('../assets/pin.png');
}

@keyframes removeSticky {
    
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        top: 50%;
    }
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes unpinHover {
    0% {
        transform: translateY(0) translateX(0);
    }

    100% {
        transform: translateY(-.2em) translateX(.2em);
    }
}

@keyframes pinHover {
    0% {
        transform: translateY(-.2em) translateX(.2em);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

.sticky textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1.5em;
    background-color: #ffcc00;
    /* Yellow background */
}