body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.menu-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    padding: 10px;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.menu-icon.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

#greetingBar {
    z-index: 0;
}

#time {
    font-size: 10em;
    color: white;
    line-height: 0.8;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#greeting,
#username {
    font-size: 8em;
    color: white;
    line-height: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#username:focus {
    outline: none;
}

#username[contenteditable="true"] {
    text-decoration: underline;
}

.quote-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#quote {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Arial", sans-serif;
    position: absolute;
    bottom: 30px;
    left: 200px;
    /* Set the minimum distance from the left side of the screen */
    right: 200px;
    /* Set the minimum distance from the right side of the screen */
    text-align: center;
    /* Center align the quote */
    z-index: 1;
    transition: transform 0.2s ease;
}


#author {
    font-size: 1.25rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark grey with 50% transparency */
    display: none;
    /* Initially hidden */
    z-index: 1;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    /* White shadow */

}

#closePopupContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3em;
    height: 3em;
}

#popupContainer .popupContent {
    color: white;
    /* White text color */
    font-size: 10em;
    /* Larger font size */
    text-align: center;
    /* Center the text */
    margin: 10px;
    /* Add some space around the element */
}

#timeBar {
    position: relative;
    z-index: 0;
}

#noteIcon,
#pomodoroIcon,
#clockIcon {
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    color: white;
    line-height: 0.8;
    margin: 5px;
    position: relative;
    z-index: 0;
    transition: width 0.2s, height 0.2s;
}

.sticky {
    position: absolute;
    background-color: #ffcc00;
    /* Yellow background */
    width: 200px;
    height: 200px;
    resize: both;
    overflow: auto;
    border: 1px solid #c0c0c0;
    /* Gray border */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    /* Shadow */
    font-family: Arial, sans-serif;
    transform: rotate(-3deg);
    /* Slight rotation for authenticity */
    padding: .5em;
    font-size: 1.5em;
}

textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 14px;
    background-color: #ffcc00;
    /* Yellow background */
}